:root {
  --body-bg: #fddcd2;

  --header-bg: #080808;
  --header-text: #e99fdf;

  --main-bg: #fddcd2;
  --main-text: #080808;
  --main-title-bg: #e99fdf;

  --card-bg: #45ff3f7b;
  --card-text: #201e1d;
}
